body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.header-logo-iris {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.66;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-link:hover {
  color: #404bbf;
}

.header-contact-link:hover {
  color: #404bbf;
}

.header-contact-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* HERO SECTION */

.section-hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

.hero-tittle {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-btn {
  background-color: #4d5ae5;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

/* FEATURES SECTION */

.features-subtittle {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-subtittle-text {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* TEAM SECTION */

.section-team {
  background-color: #f4f4fd;
}

.employee-name-subtittle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.job-position-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* PORTFOLIO SECTION */

.section-portfolio {
  width: 1440px;
  height: 3300px;
}

.portfolio-subtittle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-subtittle-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.66;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-iris {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
